{% extends 'baseFournisseur.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Modifier Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dbfrsevents') }}">back to list</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
