<!DOCTYPE html>
<html>
<head>
    <title>Nouveau message reçu</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Vous avez reçu un nouveau message :</p>
    <blockquote>{{ messageContent }}</blockquote>
</body>
</html>
