{# templates/categorie/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create New Category</h1>
    {{ include('categorie/_form.html.twig', {'button_label': 'Create'}) }}
    <a href="{{ path('app_categorie_index') }}">Back to list</a>
{% endblock %}
