{# templates/categorie/new.html.twig #}
{% extends 'baseFournisseur.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h1 class="mb-0">Créer une nouvelle catégorie</h1>
                </div>
                <div class="card-body">
                    {{ include('categorie/_form.html.twig', {'button_label': 'Créer'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
