{% baseFournisseur.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-success">{{ categorie.getNomCategorie() }}</h2>
    
    <h4 class="mt-4">Produits de cette catégorie</h4>
    <ul class="list-group">
        {% for produit in produits %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ produit.NomProduit }}
                <span class="badge bg-success">{{ produit.Prix ~ ' €' }}</span>
            </li>
        {% else %}
            <li class="list-group-item text-muted">Aucun produit disponible.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
